# Configuracion general

# Solo IPv4
listen=YES
listen_ipv6=NO

# Mensaje de bienvenida
ftpd_banner={{ vsftpd_banner }}


# Usuarios

# Permitir solo usuarios anonimos
anonymous_enable=YES

# Denegar usuarios locales
local_enable=NO

# No permitir escritura
write_enable=NO

# Directorio raiz anonimo
anon_root={{ vsftpd_root }}

# Mensaje al entrar en directorios

dirmessage_enable=YES
message_file=.message


# Limites

# Maximo de clientes simultaneos
max_clients={{ vsftpd_max_clients }}

# Ancho de banda anonimo: 50 KB/s
anon_max_rate={{ vsftpd_max_rate }}

# Timeout de inactividad (30 segundos)
idle_session_timeout={{ vsftpd_idle_timeout }}


# Seguridad

anon_upload_enable=NO
anon_mkdir_write_enable=NO
anon_other_write_enable=NO
